{% extends 'core/base.html' %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <h2>Welcome to Email-Validator</h2>
        </div>
        <div class="row">
            <p>Please choose a csv and complete the form to validate your e-mails list.</p>
        </div>
        {% if warning %}
            <div class="row">
                <div class="alert alert-danger" role="alert">
                    {{ warning }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form action="/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ csv_form.as_p }}
                        <input type="submit" value="Submit" class="btn btn-dark"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        {% if validated_by == 'random' %}
            <div class="row">
                <div class="alert alert-danger" role="alert">
                    IT IS A RANDOM VALIDATION. To use the API to validate correctly please insert
                    the API_KEY in core/validation.py. 
                </div>
            </div>
        {% endif %}
    </div>

    {% if 'valid' in emails_validations %}
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"> Valid e-mails:</h3>
                    <ul class="list-group">
                    {% for email in emails_validations.valid %}
                        <li class="list-group-item list-group-item-success"> {{ email }} </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    {% if 'invalid' in emails_validations %}
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3> Invalid e-mails:</h3>
                    <ul class="list-group">
                    {% for email in emails_validations.invalid %}
                        <li class="list-group-item list-group-item-danger"> {{ email }} </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    {% if 'unknown' in emails_validations %}
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3> We couldn't validate these e-mails:</h3>
                    <ul class="list-group">
                    {% for email in emails_validations.unknown %}
                        <li class="list-group-item list-group-item-dark"> {{ email }} </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    {% if 'accept_all' in emails_validations %}
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3> These domains accept all the accounts names: </h3>
                    <ul class="list-group">
                    {% for email in emails_validations.accept_all %}
                        <li class="list-group-item list-group-item-warning"> {{ email }} </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
