{% extends 'core/base.html' %}

{% block content %}
    <div class="col-12">
        <h2>Welcome to Email-Validator</h2>
        <div class="row">
            <p>Please choose a csv with emails separated by a semicolon to validate them</p>
        </div>
        <div class="row">
            <form action="/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ csv_form.as_p }}
                <input type="submit" value="Submit" class="btn btn-dark"/>
            </form>
        </div>
        {% if warning %}
            <p> {{ warning }} </p>
        {% endif %}
        {% if emails %}
        <div class="row">
            <h3>This is your file's content: </h3>
        </div>
        <div class="row">
            <ul>
            {% for mail in emails %}
                <li>{{ mail  }}</li>
            {% endfor %}
        </div>
        {% endif %}
        {{ data  }}
    </div>
{% endblock %}
